
MediaPlayerApp/.vs/MediaPlayerApp/v16/.suo
*.exe
MediaPlayerApp/MediaPlayerApp/bin/Debug/MediaPlayerApp.pdb
MediaPlayerApp/MediaPlayerApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MediaPlayerApp/MediaPlayerApp/obj/Debug/MediaPlayerApp.csprojAssemblyReference.cache
MediaPlayerApp/MediaPlayerApp/obj/Debug/MediaPlayerApp.pdb
